<<<<<<< HEAD
body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  background-color: LightSteelBlue }


pre.example {background-color: lightgray}
=======
body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  background-color: LightSteelBlue }


pre.example {background-color: lightgray}
>>>>>>> 3ef68fb5b75bb45286846e57bc17926fa30d5ad1
